@font-face {
    font-family: 'ralewayblack';
    src: url('font/raleway-black-webfont.woff2') format('woff2'),
         url('font/raleway-black-webfont.woff') format('woff'),
         url('font/raleway-black.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaybold';
    src: url('font/raleway-bold-webfont.woff2') format('woff2'),
         url('font/raleway-bold-webfont.woff') format('woff'),
         url('font/raleway-bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayextrabold';
    src: url('font/raleway-extrabold-webfont.woff2') format('woff2'),
         url('font/raleway-extrabold-webfont.woff') format('woff'),
         url('font/raleway-extrabold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('font/raleway-regular-webfont.woff2') format('woff2'),
         url('font/raleway-regular-webfont.woff') format('woff'),
         url('font/raleway-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('font/raleway-semibold-webfont.woff2') format('woff2'),
         url('font/raleway-semibold-webfont.woff') format('woff'),
         url('font/raleway-semibold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


body
{
	font-family: ralewayregular, Arial, sans-serif;
}
a
{
	text-decoration: none;
	color: #0065FC;
}
h1,h2,h3
{
	font-family: ralewayblack;
}
#bloc_header
{
	display: flex;
	width: auto;
}
.logo
{
margin-top: 30px;
margin-left: 20px;
}

#btn
{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
#btnInscrire
{
	display: flex;
	font-weight: bold;
	padding-top: 38px;
	padding-right: 20px;
}
nav ul
{
	display: flex;
	list-style-type: none;
	margin-top: 40px;
	justify-content: flex-start;
}
nav li
{
	padding-right: 50px;
}
li:nth-child(1) a
{
	border-top: 2px solid #0065FC;
	padding-top: 40px;
}
li:nth-child(2) a
{
	color: black;
}


/*section RECHERCHE*/

#bloc_search
{
	padding-left: 10px;
	padding-right: 10px;
}

#rechercher
{
	display: flex;
	height: 40px;
	padding-left: 10px;
	justify-content: flex-start;
	flex-wrap: nowrap;
}
#iconelocalisation
{
	background-color: #F2F2F2;
	width: 40px;
	height: auto;
	text-align: center;
	padding-top: 10px;
	border-radius: 15px 0px 0px 15px;
}
.saisirecherche
{
	height: 40px;
	width: 100%;
	display: flex;
	font-size: 1em;
	font-family: ralewayblack;
	border:none;
	padding-left: 10px;
}
input::placeholder {
      color: black;
      }


.boutonrechercher_web
{
	height: 100%;
	width: 150px;
	background-color: #0065FC;
	color: white;
	border-radius: 0px 15px 15px 0px;
	border:none;
	font-size: 1.2em;
}
.boutonrechercher_mobile
{
	display: none;
}

/*partie filtre dans section RECHERCHE*/
#bloc_filtre
{
	display: flex;
	height: auto;
	align-items: center;
	font-family: ralewaybold;
	flex-wrap: wrap;
}
#filtres
{
	display: flex;
	align-items: center;
	width: 800px;
	justify-content: space-around;
}
.titreIcone
{
	height: 2em;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	padding-left: 10px;
}
.titreIcone span
{
	text-transform: none;
}
.titreIcone:hover
{
	text-decoration: underline;
	color:#0065FC;
	font-size: 1.3em;
}
.icone
{
	display: flex;
	background-color: #DEEBFF;
	color: #0065FC;
	width:40px;
	height: 40px;
	border-radius: 50%;
    align-items: center;
    justify-content: center;
}
#eco, #famille, #romantique, #animaux
{
	width: auto;
	height: 40px;
	padding-right: 15px;
	display: flex;
	align-items: center;
	border-radius: 20px;
	border:1px #F2F2F2 solid;
}
#nbdispo
{
	display: flex;
	align-items: center;
}
#nbdispo span
{
	padding-left: 10px;
	font-size: 0.8em;
}
#iconeInfo
{
	display: flex;
	color: #0065FC;
	border: 1px solid #F2F2F2;
	width:1.5em;
	height: 1.5em;
	border-radius: 50%;
    align-items: center;
    justify-content: center;
}

/*partie HERBERGEMENT A MARSEILLE*/
#section1
{
	display: flex;
	justify-content: space-between;
}

#bloc_hebergements
{
	flex:2;
	margin-right: 20px;
	display: flex;
	height: 550px;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 15px 15px 15px 15px;
	background-color: #F2F2F2;
}
#bloc_titre_hebergements
{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
}
#bloc_titre_hebergements h2
{
	margin-left: 30px;
}
#hotels_hebergements
{
	display: flex;
	flex-wrap: wrap;
	height: 400px;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-between;
}
#htlm_cannebiere, #htlm_port, #htlm_mouettes, #htlm_mer, #htlm_panier,#htlm_amina
{
	display: flex;
	flex-direction: column;
	width: 28%;
	height: 180px;
	border-radius: 15px 15px 15px 15px;
	background-color: white;
	padding: 5px 5px 5px 5px;
}
.bloc_htl_info
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 40%;
	margin: 10px 10px 10px 10px;
}
.htl_photo
{
	display: flex;
	width: 100%;
	height: 60%;
	border-radius: 15px 15px 15px 15px;
}
.htl_photo img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	border-radius: 15px 15px 15px 15px;
}
#voirplus
{
	height: 50px;
	display: flex;
	align-items: center;
	color: black;
	font-family: ralewaybold;
	margin-left: 30px;
}

#bloc_populaires
{
	flex:1;
	height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 15px 15px 15px 15px;
	background-color: #F2F2F2;
}
#bloc_titre_populaires
{
	display: flex;
	width: 100%;
	height: 50px;
	align-items: center;
	justify-content: space-around;
}
#hotels_pop
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
	height: 460px;
}
#htlm_matin, #htlm_eau, #htlm_bleublanc
{
	display: flex;
	width: 90%;
	height: 120px;
	border-radius: 15px 15px 15px 15px;
	background-color: white;
	padding: 5px 5px 5px 5px;
}
.bloc_htl_info_pop
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px 10px 10px 10px;
	flex:2;
}
.htl_photo_pop
{
	display: flex;
	width: 200px;
	height: auto;
	flex:2;
	border-radius: 15px 15px 15px 15px;
}
.htl_photo_pop img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	border-radius: 15px 0px 0px 15px;
}
.htl_desc
{
	display: flex;
	flex-direction: column;
}
.htl_name
{
	font-family: ralewaybold;
	font-size: 0.9em;
}
.htl_name a
{
	color: black;
}
.fromprice
{
	font-size: 0.9em;
}
.fromprice span
{
	font-family: ralewaybold;
}
.stars
{
	color: #0065FC;
	font-size: 0.8em;
}
.stars span
{
	color: #F2F2F2;
}

/*partie ACTIVITES A MARSEILLE*/
#activity
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 500px;
	justify-content: space-between;
	align-content: space-between;
}
#port, #calanques
{
	position: relative;
	width: 24%;
	height: 500px;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0 0 10px #F2F2F2;
}
#fort, #iles, #garde, #longchamp
{
	position: relative;
	width: 22%;
	height: 230px;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0 0 10px #F2F2F2;
}
#port img, #fort img, #iles img, #calanques img, #garde img, #longchamp img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	border-radius: 15px 15px 15px 15px;
}
#port_desc, #fort_desc, #iles_desc, #calanques_desc, #garde_desc, #longchamp_desc
{
	position: absolute;
	bottom: 0;
	background-color: white;
	width: 100%;
	line-height: 40px;
	font-family: ralewaybold;
	border-radius: 0px 0px 15px 15px;
	font-size: 0.9em;
}
#port_desc span, #fort_desc span, #iles_desc span, #calanques_desc span, #garde_desc span, #longchamp_desc span
{
	padding-left: 20px;
}

#global_footer
{
	display: flex;
	background-color: #F2F2F2;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 30px;
}
p a
{	color: black;
	font-size: 0.8em;
}
#apropos,#noshebergements, #assistance
{
	width: 100%;
}


/*----------------------------MEDIA QUERIES--------------------------------*/
@media all and (max-width:767px) and (orientation:portrait) /*Mobile*/
{
#bloc_header
{
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.logo
{
margin-top: 0;
}
#btn
{
	width: 100%;
	order: 1;
}
#btnInscrire
{
	padding-top: 0;
}
nav
{
	width: 100%;
	padding-top: 20px;
}
nav ul
{
	display: flex;
	list-style-type: none;
	margin-top: 0;
	justify-content: flex-start;
	padding-left: 0;
	text-align: center;
}
nav li
{
	border-bottom: 2px solid #F2F2F2;
	flex-basis: 50%;
	padding-right: 0;
	padding-bottom: 15px;
}
nav li:nth-child(1)
{
	border-bottom: 2px solid #0065FC;
}

li:nth-child(1) a
{
	border-top: none;
	padding-top: 0;
}


/*section RECHERCHE*/
.boutonrechercher_web
{
	display: none;
}
.boutonrechercher_mobile
{
	display: block;
	width: 40px;
	height: 40px;
	background-color: #0065FC;
	color: white;
	border: none;
	border-radius: 15px 15px 15px 15px;
}
#filtres
{
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: space-between;	
}
#eco, #famille, #romantique, #animaux
{
	margin-top: 15px;
}

/*section HEBERGEMENTS*/
#section1
{
	flex-direction: column;
}
#bloc_hebergements
{
	order:1;
	margin-top: 15px;
	margin-right: 0;
	width: 100%;
	height: 3500px;
	background-color: white;
}
#hotels_hebergements
{
	flex-direction: column;
	height: auto;
}
#htlm_cannebiere, #htlm_port, #htlm_mouettes, #htlm_mer, #htlm_panier,#htlm_amina
{
	width: auto;
	height: auto;
}
.htl_photo
{
	height: 150px;
}
.htl_photo img
{
	border-radius: 15px 15px 0px 0px;
}
#bloc_populaires
{
	height: auto;
	background-color: transparent;
}
#hotels_pop
{
	align-content: space-around;
}
#htlm_matin, #htlm_eau, #htlm_bleublanc
{
	box-shadow: 0 0 10px #F2F2F2;
}
.bloc_htl_info
{
	height: auto;
}

/*section ACTIVITES*/
#activity
{
	flex-wrap: nowrap;
	height: auto;
}
#port, #fort, #iles, #calanques, #garde, #longchamp
{
	width: auto;
	height: 150px;
}
#port img, #fort img, #iles img, #calanques img, #garde img, #longchamp img
{
	height: 70%;
	border-radius: 15px 15px 0px 0px;
}
#global_footer
{
	flex-direction: column;
	padding-right: 0;
	background-color: transparent;
}
}

@media all and (max-width:767px) and (orientation:landscape) /*Mobile paysage*/
{
#bloc_header
{
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.logo
{
margin-top: 0;
}
#btn
{
	width: 100%;
	order: 1;
}
#btnInscrire
{
	padding-top: 0;
}
nav
{
	width: 100%;
	padding-top: 20px;
}
nav ul
{
	display: flex;
	list-style-type: none;
	margin-top: 0;
	justify-content: flex-start;
	padding-left: 0;
	text-align: center;
}
nav li
{
	border-bottom: 2px solid #F2F2F2;
	flex-basis: 50%;
	padding-right: 0;
	padding-bottom: 15px;
}
nav li:nth-child(1)
{
	border-bottom: 2px solid #0065FC;
}

li:nth-child(1) a
{
	border-top: none;
	padding-top: 0;
}
/*section HEBERGEMENTS*/
#section1
{
	flex-direction: column;
}
#bloc_hebergements
{
	order:1;
	height: 3000px;
	margin-right: 0;
	background-color: transparent;
}
#bloc_titre_hebergements
{
	padding-left: 30px;
}
#hotels_hebergements
{
	flex-direction: column;
	align-content: space-around;
	justify-content: space-around;
	height: 1100px;
}
#htlm_cannebiere, #htlm_port, #htlm_mouettes, #htlm_mer, #htlm_panier,#htlm_amina
{
	width: 90%;
	flex-direction: row;
	height: 150px;
	box-shadow: 0 0 10px #F2F2F2;
}
.bloc_htl_info
{
	margin: 20px 20px 20px 30px;
	height: auto; 
	flex:2;
}
.htl_photo
{
	width: 150px;
	height: 150px;
	flex:2;
}
#bloc_populaires
{
	margin-left:30px;
}


/*section ACTIVITES*/
#activity
{
	flex-wrap: nowrap;
	height: auto;
	padding-left: 30px;
}
#bloc_activity h3
{
	padding-left: 30px;
}
#port, #fort, #iles, #calanques, #garde, #longchamp
{
	width: auto;
	height: 180px;
	margin-bottom: 15px;
}

#global_footer
{
	flex-direction: column;
	padding-right: 0;
	padding-left: 30px;
	background-color: transparent;
}
}










@media all and (min-width:768px) and (max-width:1023px) /*Tablette*/
{
#bloc_header
{
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.logo
{
margin-top: 0;
}
#btn
{
	width: 100%;
	order: 1;
}
#btnInscrire
{
	padding-top: 0;
}
nav
{
	width: 100%;
	padding-top: 20px;
}
nav ul
{
	display: flex;
	list-style-type: none;
	margin-top: 0;
	justify-content: flex-start;
	padding-left: 0;
	text-align: center;
}
nav li
{
	border-bottom: 2px solid #F2F2F2;
	flex-basis: 50%;
	padding-right: 0;
	padding-bottom: 15px;
}
nav li:nth-child(1)
{
	border-bottom: 2px solid #0065FC;
}

li:nth-child(1) a
{
	border-top: none;
	padding-top: 0;
}


/*section RECHERCHE*/
.boutonrechercher_web
{
	display: none;
}
.boutonrechercher_mobile
{
	display: block;
	width: 40px;
	height: 40px;
	background-color: #0065FC;
	color: white;
	border: none;
	border-radius: 15px 15px 15px 15px;
}
#filtres
{
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: space-between;	
}
#eco, #famille, #romantique, #animaux
{
	margin-top: 15px;
}

/*section HEBERGEMENTS*/
#section1
{
	flex-direction: column;
}
#bloc_hebergements
{
	order:1;
	height: 3000px;
	margin-right: 0;
	background-color: transparent;
}
#bloc_titre_hebergements
{
	padding-left: 30px;
}
#hotels_hebergements
{
	flex-direction: column;
	align-content: space-around;
	justify-content: space-around;
	height: 1100px;
}
#htlm_cannebiere, #htlm_port, #htlm_mouettes, #htlm_mer, #htlm_panier,#htlm_amina
{
	width: 90%;
	flex-direction: row;
	height: 150px;
	box-shadow: 0 0 10px #F2F2F2;
}
.bloc_htl_info
{
	margin: 20px 20px 20px 30px;
	height: auto; 
	flex:2;
}
.htl_photo
{
	width: 150px;
	height: 150px;
	flex:2;
}

#bloc_populaires
{
	height: 1000px;
}
#hotels_pop
{
	align-content: space-around;
	height: 600px;
	padding-bottom: 10px;
}
#htlm_matin, #htlm_eau, #htlm_bleublanc
{
	height: 150px;
	box-shadow: 0 0 10px #F2F2F2;
}

.bloc_htl_info_pop
{
	margin: 20px 20px 20px 30px;
	height: auto; 
}
.htl_photo_pop
{
	width: auto;
	height: 150px;
}

/*section ACTIVITES*/
#bloc_activity h3
{
	padding-left: 30px;
}
#activity
{
    height: 800px;
    align-content: space-around;
}
#port, #calanques, #fort, #iles, #garde, #longchamp
{
	width: 45%;
	height: 250px;
}

#global_footer
{
	flex-direction: column;
	padding-right: 0;
	padding-left: 30px;
	background-color: transparent;
}
}